* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: #00828c;
    color: white;
    z-index: 99;
}

ul {
    margin: 0;
}

.user {
    color: #fdfa51;
}

.logo {
    font-size: 30px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
    text-align: center;
    align-items: center;
}

.nav-links link {
    position: relative;
}

.home,
.about,
.admin,
.contact,
.signup {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.navbar ul a li {
    position: relative;
    transition: all 0.5s ease;
}

.navbar ul a:hover {
    color: #51fdd8;
    text-decoration: none;
    list-style: none;
}

.navbar ul a li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #51fdd8;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s linear;
}

.navbar ul a li:hover:after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.signup {
    border: 1px solid yellow;
    border-radius: 5px;
}

.mobile-menu-icon {
    display: none;
}

.authLink {
    cursor: pointer;
}

.btn.auth {
    background-color: black;
}

.profile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    text-align: center;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user_name {
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .logo {
        display: flex;
        position: absolute;
        top: 15px;
        left: 40px;
    }
    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        background-color: #005469;
        left: 0;
        top: 75px;
        transition: all 1s ease-in-out;
        width: 100%;
        z-index: 9;
    }
    .home,
    .about,
    .admin,
    .contact,
    .signup {
        text-align: center;
        padding: 32px;
        margin: 0 10px;
        width: 100%;
        transition: all 1s ease-in-out;
    }
    .mobile-menu-icon {
        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        background-color: #00828c;
        align-items: center;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
    }
    .signup {
        border: none;
    }
}